.content-container {
    display: flex;
    flex: 1;
    flex-direction: column;
    padding: 10px;
}
  
.news {
    display: flex;
    flex-direction: column;
    flex: 3;
    font-size: 1rem;
}
.news-title {
    flex: 1;
    border-bottom: 2px solid cadetblue;
}
.news-content {
    display: flex;
    flex: 5;
    flex-direction: row;
    margin-top: 5px;
    font-family: 'Bazzi';
 }
.news-content1 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 3px;
}
.news-content2 {
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-top: 3px;
}
.miniroom {
    flex: 7;
    display: flex;
    flex-direction: column;
}
.miniroom-title {
    flex: 1;
    border-bottom: 2px solid cadetblue;
}
.miniroom-content {
    flex: 9;
}
.title {
    font-weight: bold;
    color:skyblue;
    font-size: 1.1rem;
}
.news-row {
  display: flex;
  margin: 3px 0;
  
}
.news-category {
  padding: 0.5px;
  margin-right: 7px;
  color: white;
  border-radius: 3px;
}
.news-sum {
  
}
.category-diary {
    background-color:chartreuse;
}
.category-photo {
    background-color:chocolate;
}
.category-bookreport {
    background-color:aqua;
}
.menu-row {
  display: flex;
  border-bottom: 1px dashed black;
  margin-bottom: 5px;
}
.menu-item {
  flex: 1;
}
.menu-number {
  color: red;
  margin-left: 8px;
}
.room-img {
  object-fit: cover;
  border-radius: 3px;
  width: 100%;
  height: 100%;
}